/* Allow Sticky Footer*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
}

/* Override navbar height */
.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.sidebar {
    min-width: 200px;
    border-right: 1px solid black;
    padding-right: 5px;
    padding-left: 20px;
    user-select: none;
}

.child-item {
    margin-left: 20px;
    display: none;
}

.child-item.active {
    display: block !important;
}

.directory.selected {
    background-color: aquamarine;
}

.directory:hover {
    cursor: pointer;
}

.directory span {
    margin-left: 2px;
}

.file.selected {
    background-color: darksalmon;
}


