/* Allow Sticky Footer*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
}

/* Override navbar height */
.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.sidebar {
    min-width: 200px;
    border-right: 1px solid black;
    padding-right: 5px;
    padding-left: 20px;
    user-select: none;
}

.child-item {
    margin-left: 20px;
    display: none;
}

.child-item.active {
    display: block !important;
}

.directory.selected {
    background-color: aquamarine;
}

.directory:hover {
    cursor: pointer;
}

.directory span {
    margin-left: 2px;
}

.image-hidden {
    display: none;
}

.file.selected {
    background-color: darksalmon;
}


.menu {
    width: 120px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    z-index: 3;
    background-color: white;
}

.menu-options {
    padding: 4px 0;
    margin-bottom: 0;
}

.menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

    .menu-option:hover {
        background: rgba(0, 0, 0, 0.2);
    }
